body {
  background-color: rgb(196, 230, 233);
  font-size: 2rem;
  color: rgb(16, 17, 15);
  font-weight: 600;
  font-family: 'Arimo', sans-serif;
}
h1, h2, h3, h4 {
font-family: 'Work Sans', sans-serif;
color: rgb(50, 96, 236);
font-size: 3rem;
line-height: 2;
}
/* font-family: 'Arimo', sans-serif;
font-family: 'Work Sans', sans-serif */
.logo {
  height: 150px
}
.fas {
  color:rgb(48, 175, 238);
}
/* banner carousel */
/* transition: transform 2s ease, opacity .5s ease-out). */
#carouselExampleCaptions {
  margin: 0 4%;
  transition: transform 2s ease, opacity .5s ease-out;
}
/* main section */
 .image5 {
  width: 80vw;
}
/* footer */

#footer {
  background-color: rgb(217, 223, 230);
  margin-top: 5%;
  padding-bottom: 4%;
}
.cl {
  margin-top: 5%;
}
/* conatct html */
.map{
  width: 90%;
}

